.trash
.obsidian/plugins/Ai-Assistant/data.json
004 Meta/001 Attach/002 Attachment media/SNDs/Records
004 Meta/001 Attach/001 Attach Embedded/Scripts/Allowed Time.md
004 Meta/001 Attach/002 Attachment media/PDFs/warsh.pdf