
:root {
  --focus-animation-duration: 0.12s;
  --header-height: 40px;
}


/*
.workspace-tab-header-tab-list,
.mod-root .workspace-tabs:has(.workspace-leaf .workspace-leaf-content[data-type="pdf"]) .workspace-tab-header-container
  .workspace-tab-header-container-inner,
.mod-root .workspace-tabs:has(.workspace-leaf .workspace-leaf-content[data-type="pdf"]) .workspace-tab-header-container
  .workspace-tab-header-new-tab,
.mod-root .workspace-tabs:has(.workspace-leaf .workspace-leaf-content[data-type="pdf"]) .workspace-tab-header-container
  .workspace-tab-header-tab-list {
  opacity: 0;
  transition: opacity var(--focus-animation-duration) ease;
}
*/


.workspace-leaf:has(.workspace-leaf-content[data-type="pdf"]) {

  & .view-header {
    height: 0;
    overflow: hidden;
    transition: height var(--focus-animation-duration) ease;
  }

  & .view-header:hover,
  & .view-header:focus-within {
    height: var(--header-height);
  }

  & .view-actions,
  & .view-header-nav-buttons,
  & .view-header-title-container {
    opacity: 0;
    transition: opacity var(--focus-animation-duration) ease;
  }

  & .view-header:hover .view-actions,
  & .view-header:hover .view-header-nav-buttons,
  & .view-header:hover .view-header-title-container,
  & .view-header:focus-within .view-actions,
  & .view-header:focus-within .view-header-nav-buttons,
  & .view-header:focus-within .view-header-title-container {
    opacity: 1;
  }
}