/*======== ROOT * VARS ========*/
body {
  --list-marker-color: var(--marker-color);
  --checkbox-color: var(--marker-color);
  --checkbox-border-color: var(--marker-color);
  --checkbox-border-color-hover: var(--marker-color);
}

/* =========================
   EMBED CLEAN MODE
   Hide left border + title
   ========================= */
.markdown-embed {
   border-left: none !important;
   border-right: none !important;
   border-top: none !important;
   border-bottom: none !important;
   padding: 0 !important;
   margin: 0 !important;
}

.markdown-embed .markdown-embed-content {
   padding: 0 !important;
   margin: 0 !important;
}

.markdown-embed > .mod-header,
.markdown-embed .embed-header,
.markdown-embed .embed-header-container {
   display: none !important;
}

.markdown-embed-title,
.markdown-embed-link {
   display: none !important;
}

.markdown-embed .markdown-preview-view {
   padding: 0 !important;
   margin: 0 !important;
}

.markdown-embed .markdown-preview-view .markdown-preview-sizer {
   padding-top: 0 !important;
   margin-top: 0 !important;
}

.markdown-embed hr:first-child {
   margin-top: 0 !important;
}

.markdown-embed .cm-sizer {
   padding: 0 !important;
   margin: 0 !important;
}

/* =================
   pdf colors
   ================= */

/* pdf invert dark */
.workspace-leaf-content[data-type=pdf] .pdf-viewer .canvasWrapper,
.theme-dark .workspace-leaf-content[data-type=pdf] .pdfViewer .canvasWrapper {
   filter: invert(1) hue-rotate(180deg);
   mix-blend-mode: screen;
}

.theme-dark .pdf-container *,
.theme-dark .pdf-viewer *,
.theme-dark .pdf-embed * {
   mix-blend-mode: screen;
}

.theme-dark .pdf-container img,
.theme-dark .pdf-viewer img,
.theme-dark .pdf-embed {
   filter: invert(1) hue-rotate(180deg);
   mix-blend-mode: screen;
}

/* pdf light mode */
.theme-light .workspace-leaf-content[data-type=pdf] .pdf-viewer .canvasWrapper,
.theme-light .workspace-leaf-content[data-type=pdf] .pdfViewer .canvasWrapper,
.workspace-leaf-content[data-type=pdf] .pdf-viewer .canvasWrapper, 
.theme-light .pdf-container,
.theme-light .pdf-viewer,
.theme-light .pdf-embed {
   mix-blend-mode: multiply;
}

/* =======================
    BANNER COLOR INVERSION
   ====================== */
.invert-banner .banner-image img,
.invert-banner .banner-image video {
   filter: invert(1) hue-rotate(180deg);
   mix-blend-mode: difference;
}
.invert-banner.invert-light .banner-image img,
.invert-banner.invert-light .banner-image video {
   filter: invert(1);
}
.invert-banner.invert-dark .banner-image img,
.invert-banner.invert-dark .banner-image video {
   filter: brightness(0.8) contrast(1.4) grayscale(1);
   mix-blend-mode: normal;
}
.invert-banner.invert-color .banner-image img,
.invert-banner.invert-color .banner-image video {
   filter: hue-rotate(180deg) saturate(1.5);
}

/* =====================================
   Make Links in the title same color
   ===================================== */
.markdown-preview-view :is(h1, h2, h3, h4, h5, h6) a {
    color: inherit !important;
}
span.cm-header:is(.cm-hmd-internal-link,.cm-link,.cm-url,.cm-formatting-link) {
    color: inherit !important;
}
.HyperMD-header span:is(.cm-link, .cm-hmd-internal-link) * {
    color: inherit !important;
}

/* ================================
   remove space between paragraphs
   ================================ */
.markdown-preview-view p:has(.internal-embed),
.markdown-source-view.mod-cm6 .cm-embed-block {
   margin: 0 !important;
   padding: 0 !important;
   display: inline !important;
}
.internal-embed {
   margin: 0 2px !important;
   padding: 0 !important;
   vertical-align: middle !important;
}
.markdown-reading-view .markdown-preview-view h3, .markdown-reading-view .markdown-preview-view h4, .markdown-reading-view .markdown-preview-view h5, .markdown-reading-view .markdown-preview-view h6 {
   margin-bottom: 3px !important;
}
.markdown-preview-view h2,.markdown-preview-view h3,.markdown-preview-view h4 {
   margin-top: 0.7em !important;
}
.metadata-container {
  margin-bottom: 10px !important;
}

/* ===========
   selfish
   =========== */
/* cool headers */
.zebra-tasks :is(h1, h2, h3, h4),
.cool-titles :is(h1, h2, h3, h4) {
   gap: 10px;
   display: flex;
   align-items: center;
}
.zebra-tasks  :is(h1, h2, h3, h4)::after,
.cool-titles  :is(h1, h2, h3, h4)::after {
   content: "";
   flex-grow: 1;
   height: 1px;
   background: rgba(255, 255, 255, 0.15); 
}
/* zebra tasks */
.zebra-tasks .task-list-item.zebra-even { background-color: rgba(255, 255, 255, 0.03); border-radius: 4px; }
.zebra-tasks .task-list-item.zebra-odd { background-color: rgba(25, 55, 25, 0.03); border-radius: 4px; }
/* Card improvment */
.workspace-leaf:has(.workspace-leaf-content[data-mode="preview"] .card) {padding-right:10px !important;}
.workspace-leaf:has(.workspace-leaf-content[data-mode="preview"] .card) .view-content { border-right: 0.5px solid var(--background-modifier-border); border-radius: 9px; }
/* ==============
    Mobile sidebars 
    =============== */ 
/* _____ pinned sidebars _____ */
.is-mobile .workspace-drawer.mod-left.is-pinned  {
   width: 350px ;
   min-width: 350px ;
   max-width: 400px ;
}
.is-mobile .workspace-drawer.mod-right.is-pinned  {
   width: 450px ;
   min-width: 350px ;
   max-width: 400px ;
}
@media (orientation: portrait) {
  .is-mobile .workspace-drawer.mod-left.is-pinned  {
     width: 280px ;
     min-width: 280px ;
     max-width: 300px ;
  }
  .is-mobile .workspace-drawer.mod-right.is-pinned  {
     width: 260px ;
     min-width: 250px ;
     max-width: 280px ;
  }
}
/* _____ custom savearea _____ */
@media (orientation: landscape) {
  body.is-mobile {
  --safe-area-inset-top: 33px !important;
  :has(.workspace-drawer.mod-left.is-pinned){--safe-area-inset-left: 0px !important;}
  }
}
/* _____ margin the icons _____ */
.workspace-drawer:not(:has([data-type="prayer-panel-view"].is-active)) .workspace-drawer-tab-select .workspace-tab-header-inner svg {
  margin-bottom: 3px;
}
/* _____ custom drawers _____ */
.workspace-drawer [data-type=file-properties]:not(.workspace-tab-header) {
  padding-top: .5em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
}
.workspace-drawer .metadata-property-key {
  min-width: 80px !important;
  max-width: 50px !important;
}
/* ==========
   App Explorer
   ============= */
.app-dock {
  display: flex !important;
  justify-content: space-between !important; 
  align-items: center !important;
  flex-wrap: wrap !important;
  gap: 25px 15px !important;          
  padding: 15px !important;
  width: 100% !important;             
  box-sizing: border-box !important;
}
.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-family: sans-serif;
  font-size: 12px;
  flex: 1 1 75px;          
  max-width: 100px;
}
.icon-container img {
  width: 48px;
  height: 48px;
  margin-bottom: 6px;
  border-radius: 12px;
  object-fit: cover;
  pointer-events: none;
}

/* =======
   Hr engine
   =========== */
.cm-line hr,
.markdown-preview-view hr  {
  --hr-gradient: linear-gradient( to right,rgba(0, 255, 255, 0) 0%, var(--hr-line-color) 25%, var(--hr-star-color) 50%, var(--hr-line-color) 75%, rgba(0, 255, 255, 0) 100%);
   margin-block-start: 2em;
   margin-block-end: 2em;
   border: none;
   height: 0;
   border-bottom: 1px solid;
   border-image-slice: 1;
   border-width: 2px;
   border-image-source: var(--hr-gradient);
}
.cm-line hr::after,
.markdown-preview-view hr::after {
   content: '☀';
   display: inline-flexbox;
   position: absolute;
   left: 50%;
   transform: translate(-50%,-50%) rotate(100deg);
   transform-origin: 50% 50%;
   padding: 0px;
   color: var(--hr-star-color);
   border-radius: 50%;
   width: 1.21em;
   height: 1.21em;
   text-shadow: 0 0 14px var(--hr-star-highlight-color, var(--hr-star-color)), 0 0 60px var(--hr-star-highlight-color, var(--hr-star-color));
   background: radial-gradient(circle, var(--background-primary) 0%, var(--background-primary) 55%, transparent 80%);
}
.right-hr-star .cm-line hr::after,
.right-hr-star.markdown-preview-view hr::after {
   content: '☀';
   display: inline-block;
   position: absolute;
   left: 90%;
   transform: translate(-50%,-50%) rotate(60deg);
   transform-origin: 50% 50%;
   padding: 0;
   color: var(--hr-star-color);
   text-shadow: 0 0 0.5em var(--hr-star-highlight-color, var(--hr-star-color));
   background-color: var(--background-primary);
}
.left-hr-star .cm-line hr::after,
.left-hr-star.markdown-preview-view hr::after {
   content: '☀';
   display: inline-block;
   position: absolute;
   left: 10%;
   transform: translate(-50%,-50%) rotate(60deg);
   transform-origin: 50% 50%;
   padding: 0.05rem;
   color: var(--hr-star-color);
   text-shadow: 0 0 0.5em var(--hr-star-highlight-color, var(--hr-star-color));
   background-color: var(--background-primary);
}
.remove-hr-star .cm-line hr::after,
.remove-hr-star.markdown-preview-view hr::after {
  display: none;
}
/* ===============
   Various Effects
   =========== */
input[type="checkbox"] { transform: scale(0.8); margin-bottom: -3px; }
pre { border: .5px solid var(--background-modifier-border) !important;border-radius:9px !important; }
:is(.markdown-preview-view, .markdown-source-view) .metadata-container {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.markdown-reading-view,
.markdown-preview-view,
.markdown-source-view {
  overflow-y: auto;
  overflow-x: hidden !important;
}
.notice {
  border-right: 4px solid var(--interactive-accent) !important;
  border-radius: 8px !important;
}
img {
  border-radius: 8px !important; 
}
[aria-label*="pin"] {
  color: inherit !important;
}
li[data-task='!'] > input:checked { --checkbox-marker-color: transparent; -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z' clip-rule='evenodd' /%3E%3C/svg%3E"); }
.metadata-property-key { min-width: 16% !important; max-width: 22% !important; }